# docker-compose.central.yml
# Defines all services that run on the central storage unit

services:
  # 1. The Database (TimescaleDB)
  database:
    image: timescale/timescaledb:latest-pg16
    container_name: horizon-db
    restart: unless-stopped
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    # Allocate 2GB of shared memory to the container.
    # This prevents 'No space left on device' errors during VACUUM on large tables.
    shm_size: "2gb"
    volumes:
      - /volume1/docker/horizon_db/timescaledb_data:/var/lib/postgresql/data
    env_file: .env
    networks:
      - horizon_net

  # 2. Lightweight DB Viewer
  adminer:
    image: adminer
    container_name: horizon-db-admin
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - horizon_net
    depends_on:
      - database

  # 3. MLflow Tracking Server
  mlflow:
    image: python:3.11-slim
    container_name: horizon-mlflow-server
    restart: unless-stopped
    command: >
      sh -c "pip install mlflow psycopg2-binary &&
             mlflow server --host 0.0.0.0 --port 5002 --backend-store-uri \"postgresql+psycopg2://${MLFLOW_DB_USER}:${MLFLOW_DB_PASSWORD}@database:5432/${MLFLOW_DB_NAME}\" --default-artifact-root /mlruns --serve-artifacts --cors-allowed-origins '192.168.1.*'"
    ports:
      - "5002:5002"
    volumes:
      # This maps a folder on your central storage to the artifact root inside the container
      - /volume1/docker/horizon_db/mlruns:/mlruns
    env_file: .env
    networks:
      - horizon_net
    depends_on:
      - database

networks:
  horizon_net:
    driver: bridge
